tbody tr:nth-child(odd) {
    background-color: #e2e2e2;
}

tbody tr:nth-child(even) {
    background-color: #ffffff; 
    
}
table{
    border-collapse: collapse;
}
th{
    width: 70px;
}
th,td{
    border: 1px solid black;
    padding: 0 10px ;
    text-align: center;
    
}
